<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VolumeControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VolumeControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <VolumeControl.Properties.Settings>
            <setting name="SelectedCOM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="application1" serializeAs="String">
                <value />
            </setting>
            <setting name="application2" serializeAs="String">
                <value />
            </setting>
            <setting name="application3" serializeAs="String">
                <value />
            </setting>
            <setting name="application4" serializeAs="String">
                <value />
            </setting>
            <setting name="application1btn" serializeAs="String">
                <value />
            </setting>
            <setting name="application2btn" serializeAs="String">
                <value />
            </setting>
            <setting name="application3btn" serializeAs="String">
                <value />
            </setting>
            <setting name="application4btn" serializeAs="String">
                <value />
            </setting>
        </VolumeControl.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <VolumeControl.Properties.Settings>
            <setting name="knob1" serializeAs="String">
                <value />
            </setting>
            <setting name="knob2" serializeAs="String">
                <value />
            </setting>
            <setting name="knob3" serializeAs="String">
                <value />
            </setting>
            <setting name="knob4" serializeAs="String">
                <value />
            </setting>
            <setting name="button1" serializeAs="String">
                <value />
            </setting>
            <setting name="button2" serializeAs="String">
                <value />
            </setting>
            <setting name="button3" serializeAs="String">
                <value />
            </setting>
            <setting name="button4" serializeAs="String">
                <value />
            </setting>
        </VolumeControl.Properties.Settings>
    </userSettings>
</configuration>